.u-section-1 {background-image: linear-gradient(0deg, rgba(242,242,242,0.45), rgba(242,242,242,0.45)), url("images/xwoman.jpg.pagespeed.ic.xigt3VELuA.jpg"); background-position: 0% 50%}
.u-section-1 .u-sheet-1 {min-height: 877px}
.u-section-1 .u-text-1 {font-size: 3rem; text-shadow: 2px 2px 8px rgba(0,0,0,0.4); letter-spacing: 1px; font-weight: 700; font-family: lora; margin: 73px 48px 0 594px}
.u-section-1 .u-text-2 {font-size: 1.875rem; font-family: lora; font-weight: normal; margin: 0 205px 0 594px}
.u-section-1 .u-group-1 {width: 564px; min-height: 205px; margin: 332px 220px 0 auto}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-text-3 {font-size: 1.875rem; letter-spacing: 0; font-style: italic; font-weight: 700; font-family: lora; margin: 0 -30px 0 0}
.u-section-1 .u-image-1 {width: 304px; height: 519px; margin: -497px 48px 60px auto} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 715px}
.u-section-1 .u-text-1 {width: auto; margin-top: 72px; margin-right: 0; margin-left: 552px}
.u-section-1 .u-text-2 {font-size: 2.25rem; width: auto; margin-top: -7px; margin-right: 47px; margin-left: 552px}
.u-section-1 .u-group-1 {width: 518px; min-height: 204px; height: auto; margin-top: 294px; margin-right: auto; margin-left: 182px}
.u-section-1 .u-text-3 {width: auto}
.u-section-1 .u-image-1 {width: 292px; height: 476px; margin-top: -466px; margin-bottom: 38px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 812px}
.u-section-1 .u-text-1 {margin-top: 66px; margin-right: 328px; margin-left: 0}
.u-section-1 .u-text-2 {margin-top: -8px; margin-right: 379px; margin-left: 0}
.u-section-1 .u-group-1 {margin-top: 266px; margin-left: 28px}
.u-section-1 .u-image-1 {margin-top: -453px; margin-right: 15px; margin-bottom: 51px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 518px}
.u-section-1 .u-text-1 {margin-right: 140px; margin-left: 8px}
.u-section-1 .u-text-2 {margin-top: -5px; margin-right: 191px; margin-left: 8px}
.u-section-1 .u-group-1 {margin-top: 142px; margin-left: 8px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-3 {margin-right: 0; margin-left: 167px}
.u-section-1 .u-image-1 {width: 174px; height: 285px; margin: -332px auto 60px 8px} }

@media (max-width: 575px){ .u-section-1 {background-position: 23.31% 50%}
.u-section-1 .u-sheet-1 {min-height: 804px}
.u-section-1 .u-text-1 {margin-top: 40px; margin-left: 0; margin-right: 0}
.u-section-1 .u-text-2 {margin-top: -7px; margin-left: 0; margin-right: 0}
.u-section-1 .u-group-1 {min-height: 174px; margin-top: 369px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-text-3 {font-size: 1.5rem; margin-left: 0}
.u-section-1 .u-image-1 {width: 230px; height: 375px; margin-top: -524px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 195px}
.u-section-2 .u-text-1 {font-size: 1.5rem; font-family: Lora; font-weight: 400; margin: 20px 0 0}
.u-section-2 .u-text-2 {font-size: 1.5rem; font-family: Lora; font-weight: 400; margin: 0}
.u-section-2 .u-btn-1 {background-image: none; font-size: 1.5rem; border-style: solid; font-weight: 700; font-family: lucida-grande; margin: 19px 426px 19px auto} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 85px}
.u-section-2 .u-text-1 {font-size: 1.25rem}
.u-section-2 .u-text-2 {font-weight: 700}
.u-section-2 .u-btn-1 {margin-top: 18px; margin-right: auto; margin-bottom: 20px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 97px}
.u-section-2 .u-text-1 {font-size: 1.5rem} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 183px}
.u-section-2 .u-text-1 {font-size: 1.25rem; margin-top: 7px}
.u-section-2 .u-btn-1 {margin-top: 7px; margin-bottom: 7px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 250px}
.u-section-2 .u-text-1 {font-size: 1.5rem}
.u-section-2 .u-btn-1 {margin-bottom: 16px} }.u-section-3 {background-image: linear-gradient(0deg, rgba(251,239,245,0.55), rgba(251,239,245,0.55)), url("images/ricrescitad.jpg.pagespeed.ce.soTBJJ9u2U.jpg"); background-position: 50% 50%}
.u-section-3 .u-sheet-1 {min-height: 725px}
.u-section-3 .u-group-1 {width: 659px; min-height: 166px; margin: 50px auto 0 0}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-icon-1 {height: 64px; width: 64px; margin: 0 auto 0 0}
.u-section-3 .u-text-1 {font-size: 1.5rem; font-family: lora; margin: -89px 14px 0 78px}
.u-section-3 .u-group-2 {width: 659px; min-height: 135px; margin: 30px auto 0 0}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-icon-2 {height: 64px; width: 64px; margin: 17px auto 0 0}
.u-section-3 .u-text-2 {font-size: 1.5rem; font-family: lora; margin: -89px 22px 0 78px}
.u-section-3 .u-group-3 {width: 659px; min-height: 136px; margin: 30px auto 0 0}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-icon-3 {height: 75px; width: 75px; margin: 0 auto 0 0}
.u-section-3 .u-text-3 {font-size: 1.5rem; font-family: lora; margin: -75px 0 0 79px}
.u-section-3 .u-group-4 {width: 659px; min-height: 136px; margin: 30px auto 50px 0}
.u-section-3 .u-container-layout-4 {padding: 30px}
.u-section-3 .u-icon-4 {height: 64px; width: 64px; margin: 0 auto 0 0}
.u-section-3 .u-text-4 {font-size: 1.5rem; font-family: lora; margin: -69px 0 0 68px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 598px}
.u-section-3 .u-group-1 {height: auto}
.u-section-3 .u-group-2 {height: auto}
.u-section-3 .u-group-3 {height: auto}
.u-section-3 .u-group-4 {height: auto} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 458px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 344px}
.u-section-3 .u-group-1 {width: 540px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-1 {width: auto; margin-right: 0; margin-left: 81px}
.u-section-3 .u-group-2 {width: 540px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-2 {width: auto; margin-right: 0; margin-left: 81px}
.u-section-3 .u-group-3 {width: 540px; min-height: 174px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-3 {width: auto; margin-top: -89px; margin-left: 75px}
.u-section-3 .u-group-4 {width: 540px}
.u-section-3 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-4 {width: auto; margin-left: 75px} }

@media (max-width: 575px){ .u-section-3 {background-position: 70.13% 50%}
.u-section-3 .u-sheet-1 {min-height: 1221px}
.u-section-3 .u-group-1 {min-height: 251px; margin-top: 25px; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-icon-1 {margin-left: auto}
.u-section-3 .u-text-1 {margin-top: 13px; margin-left: 0}
.u-section-3 .u-group-2 {min-height: 251px; margin-top: 45px; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-icon-2 {margin-top: 0; margin-left: auto}
.u-section-3 .u-text-2 {margin-top: 13px; margin-left: 0}
.u-section-3 .u-group-3 {min-height: 258px; margin-top: 45px; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-icon-3 {margin-left: auto}
.u-section-3 .u-text-3 {margin-top: 9px; margin-left: 0}
.u-section-3 .u-group-4 {min-height: 246px; margin-top: 45px; margin-bottom: 55px; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-icon-4 {margin-left: auto}
.u-section-3 .u-text-4 {margin-top: 8px; margin-left: 0} }.u-section-4 .u-sheet-1 {min-height: 491px}
.u-section-4 .u-group-1 {width: 572px; min-height: 55px; background-image: none; margin: 232px auto 0 46px}
.u-section-4 .u-container-layout-1 {padding-left: 0; padding-right: 0}
.u-section-4 .u-text-1 {font-size: 1.5rem; font-family: lora; font-weight: normal; margin: 9px 0 0 60px}
.u-section-4 .u-image-1 {width: 589px; height: 427px; margin: -222px 0 0 auto}
.u-section-4 .u-group-2 {width: 591px; min-height: 55px; background-image: none; margin: -388px auto 0 46px}
.u-section-4 .u-container-layout-2 {padding-left: 0; padding-right: 0}
.u-section-4 .u-text-2 {font-size: 1.5rem; font-family: lora; font-weight: normal; margin: 9px 0 0 60px}
.u-section-4 .u-group-3 {width: 552px; min-height: 55px; background-image: none; margin: 9px auto 0 46px}
.u-section-4 .u-container-layout-3 {padding-left: 0; padding-right: 0}
.u-section-4 .u-text-3 {font-size: 1.5rem; font-family: lora; font-weight: normal; margin: 9px 0 0 60px}
.u-section-4 .u-group-4 {width: 735px; min-height: 55px; background-image: none; margin: -183px auto 0 46px}
.u-section-4 .u-container-layout-4 {padding-left: 0; padding-right: 0}
.u-section-4 .u-text-4 {font-size: 1.5rem; font-family: lora; font-weight: normal; margin: 9px 0 0 60px}
.u-section-4 .u-text-5 {font-size: 1.875rem; font-weight: 700; font-family: lora; margin: 211px 589px 0 46px}
.u-section-4 .u-btn-1 {background-image: none; font-size: 1.5rem; border-style: solid; font-weight: 700; font-family: lucida-grande; margin: 20px auto 9px 46px} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 687px}
.u-section-4 .u-group-1 {width: 688px; height: auto; margin-top: 236px}
.u-section-4 .u-image-1 {width: 542px; height: 373px; margin-top: 23px; margin-right: 30px}
.u-section-4 .u-group-2 {width: 785px; height: auto; margin-top: -594px}
.u-section-4 .u-text-2 {width: auto}
.u-section-4 .u-group-3 {width: 742px; height: auto; margin-top: 14px}
.u-section-4 .u-group-4 {width: 864px; height: auto; margin-top: -193px; margin-right: 30px; margin-left: auto}
.u-section-4 .u-text-5 {width: auto; margin-top: 244px; margin-right: 518px}
.u-section-4 .u-btn-1 {margin-top: 30px; margin-bottom: 0} }

@media (max-width: 991px){ .u-section-4 .u-group-1 {width: 586px; margin-top: 241px; margin-left: 20px}
.u-section-4 .u-text-1 {width: auto; margin-left: 15px}
.u-section-4 .u-image-1 {margin-top: 14px; margin-right: 15px}
.u-section-4 .u-group-2 {width: 636px; margin-top: -576px; margin-left: 20px}
.u-section-4 .u-text-2 {margin-left: 15px}
.u-section-4 .u-group-3 {width: 615px; margin-top: 15px; margin-left: 20px}
.u-section-4 .u-text-3 {width: auto; margin-left: 15px}
.u-section-4 .u-group-4 {width: 662px; margin-top: -195px; margin-right: auto; margin-left: 20px}
.u-section-4 .u-text-4 {width: auto; margin-left: 15px}
.u-section-4 .u-text-5 {margin-top: 218px; margin-right: 428px; margin-left: 9px}
.u-section-4 .u-btn-1 {margin-top: 13px; margin-bottom: 60px; margin-left: 9px; padding: 10px 14px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 922px}
.u-section-4 .u-group-1 {width: 520px; margin-top: 229px; margin-left: auto}
.u-section-4 .u-text-1 {margin-right: 65px; margin-left: 0}
.u-section-4 .u-image-1 {width: 475px; height: 317px; margin-top: 35px; margin-right: auto; margin-left: 22px}
.u-section-4 .u-group-2 {width: 510px; margin-top: -596px; margin-left: 10px}
.u-section-4 .u-text-2 {margin-left: 0}
.u-section-4 .u-group-3 {width: 520px; margin-top: 71px; margin-left: 10px}
.u-section-4 .u-text-3 {margin-left: 0}
.u-section-4 .u-group-4 {width: 520px; margin-top: -118px; margin-left: auto}
.u-section-4 .u-text-4 {margin-top: 8px; margin-left: 0}
.u-section-4 .u-text-5 {margin-top: 498px; margin-right: 139px; margin-left: 119px}
.u-section-4 .u-btn-1 {margin-top: 22px; margin-left: auto; margin-bottom: 40px; padding-right: 43px; padding-left: 42px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 484px}
.u-section-4 .u-group-1 {width: 340px}
.u-section-4 .u-text-1 {font-size: 1.25rem; margin-top: 12px; margin-right: auto; margin-bottom: 5px}
.u-section-4 .u-image-1 {height: 227px; margin-top: 20px; margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-group-2 {margin-top: -430px; margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-text-2 {font-size: 1.25rem; margin-top: 12px; margin-bottom: 5px}
.u-section-4 .u-group-3 {margin-top: 11px; margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-text-3 {font-size: 1.25rem; margin-top: 12px; margin-bottom: 5px}
.u-section-4 .u-group-4 {margin-top: -187px; margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-text-4 {font-size: 1.25rem}
.u-section-4 .u-text-5 {margin-top: 462px; margin-left: 29px; margin-right: 29px}
.u-section-4 .u-btn-1 {margin-top: 15px} }.u-section-5 {background-image: linear-gradient(white, #f8dbe8)}
.u-section-5 .u-sheet-1 {min-height: 690px}
.u-section-5 .u-text-1 {font-size: 1.5rem; font-family: lora; font-weight: normal; margin: 54px 0 0}
.u-section-5 .u-group-1 {min-height: 428px; margin: 34px auto 0 0}
.u-section-5 .u-container-layout-1 {padding: 30px}
.u-section-5 .u-text-2 {font-size: 1.5rem; font-weight: 700; font-family: lora; margin: 0 -30px}
.u-section-5 .u-text-3 {font-size: 1.5rem; font-style: italic; font-family: lora; font-weight: normal; margin: 30px 68px 0}
.u-section-5 .u-text-4 {font-size: 1.5rem; font-style: italic; font-family: lora; font-weight: normal; margin: 25px 68px 0}
.u-section-5 .u-text-5 {font-size: 1.5rem; font-style: italic; font-family: lora; font-weight: normal; margin: 25px 68px 0}
.u-section-5 .u-btn-1 {background-image: none; font-size: 1.5rem; border-style: solid; font-weight: 700; font-family: lucida-grande; margin: 41px auto 0} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 474px}
.u-section-5 .u-group-1 {height: auto; margin-right: initial; margin-left: initial}
.u-section-5 .u-text-2 {margin-right: 0; margin-left: 0}
.u-section-5 .u-text-3 {margin-left: 0; margin-right: 0}
.u-section-5 .u-text-4 {margin-left: 0; margin-right: 0}
.u-section-5 .u-text-5 {margin-left: 0; margin-right: 0} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 841px}
.u-section-5 .u-text-1 {margin-top: 34px} }

@media (max-width: 767px){ .u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-5 .u-text-1 {font-size: 1.25rem}
.u-section-5 .u-text-2 {font-size: 1.25rem} }.u-section-6 .u-sheet-1 {min-height: 589px}
.u-section-6 .u-image-1 {width: 307px; height: 430px; margin: 158px auto 0 0}
.u-section-6 .u-group-1 {min-height: 449px; width: 879px; margin: -498px 0 50px auto}
.u-section-6 .u-container-layout-1 {padding: 30px}
.u-section-6 .u-text-1 {font-size: 1.5rem; font-family: Lora; font-weight: 400; margin: 34px 0 0 31px} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 600px}
.u-section-6 .u-group-1 {min-height: 480px; height: auto; margin-top: -556px; margin-bottom: 60px}
.u-section-6 .u-text-1 {width: auto; margin-top: 0; margin-left: 231px} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 375px}
.u-section-6 .u-image-1 {width: 246px; height: 344px; margin-top: 256px}
.u-section-6 .u-group-1 {width: 720px; margin-top: -555px}
.u-section-6 .u-text-1 {font-size: 1.25rem; margin-left: 224px} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 896px}
.u-section-6 .u-image-1 {width: 297px; height: 415px; margin-top: 22px; margin-left: 15px}
.u-section-6 .u-group-1 {min-height: 414px; margin-top: 15px; margin-bottom: 30px; margin-right: initial; margin-left: initial; width: auto}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-text-1 {margin-left: auto} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 372px}
.u-section-6 .u-image-1 {width: 244px; height: 341px; margin-top: 13px; margin-left: auto}
.u-section-6 .u-group-1 {margin-top: -21px; width: auto; margin-right: initial; margin-left: initial}
.u-section-6 .u-text-1 {font-size: 1.125rem} }.u-section-7 {background-image: linear-gradient(0deg, rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url("images/woman3.jpg.pagespeed.ce._ZHk59e_oz.jpg"); background-position: 0% 50%}
.u-section-7 .u-sheet-1 {min-height: 816px}
.u-section-7 .u-text-1 {font-size: 1.875rem; font-weight: 700; font-family: lora; margin: 88px 727px 0 0}
.u-section-7 .u-icon-1 {height: 196px; width: 196px; background-image: none; margin: -300px 45px 60px auto}
.u-section-7 .u-group-1 {width: 461px; min-height: 144px; margin: 390px 0 0 auto}
.u-section-7 .u-container-layout-1 {padding: 30px}
.u-section-7 .u-text-2 {font-size: 1.875rem; font-weight: 700; font-family: lora; margin: 21px 0 0} 

@media (max-width: 1199px){ .u-section-7 .u-sheet-1 {min-height: 645px}
.u-section-7 .u-text-1 {width: auto; margin-top: 30px; margin-right: 527px}
.u-section-7 .u-icon-1 {margin-top: -287px; margin-right: 30px}
.u-section-7 .u-group-1 {height: auto; margin-top: 287px; margin-right: 21px} }

@media (max-width: 991px){ .u-section-7 .u-sheet-1 {min-height: 494px}
.u-section-7 .u-text-1 {margin-right: 307px}
.u-section-7 .u-icon-1 {margin-top: -236px}
.u-section-7 .u-group-1 {margin-top: 137px; margin-right: auto; margin-left: 97px} }

@media (max-width: 767px){ .u-section-7 .u-sheet-1 {min-height: 509px}
.u-section-7 .u-text-1 {font-size: 1.5rem; margin-right: 192px}
.u-section-7 .u-icon-1 {margin-top: -258px; margin-right: auto; margin-left: 15px}
.u-section-7 .u-group-1 {width: 413px; min-height: 108px; margin-top: 237px; margin-right: 0; margin-left: auto}
.u-section-7 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-text-2 {margin-top: 0} }

@media (max-width: 575px){ .u-section-7 {background-position: 40.7% 50%}
.u-section-7 .u-sheet-1 {min-height: 474px}
.u-section-7 .u-text-1 {margin-right: auto}
.u-section-7 .u-icon-1 {height: 126px; width: 126px; margin-top: 159px; margin-bottom: 0; margin-left: 9px}
.u-section-7 .u-group-1 {min-height: 98px; margin-top: 0; margin-bottom: 41px; margin-right: initial; margin-left: initial; width: auto}
.u-section-7 .u-text-2 {font-size: 1.5rem; margin-left: auto; margin-right: auto} }.u-section-8 {background-image: none}
.u-section-8 .u-sheet-1 {min-height: 183px}
.u-section-8 .u-text-1 {font-size: 1.875rem; font-weight: 700; font-family: lora; margin: 21px 0 0}
.u-section-8 .u-text-2 {font-size: 1.5rem; font-weight: 700; font-family: lora; margin: -7px 0 0}
.u-section-8 .u-btn-1 {background-image: none; font-size: 1.25rem; font-weight: 700; font-family: lucida-grande; margin: 10px auto 21px; padding: 10px 67px 10px 66px} 

@media (max-width: 1199px){ .u-section-8 .u-sheet-1 {min-height: 166px} }

@media (max-width: 767px){ .u-section-8 .u-sheet-1 {min-height: auto}
.u-section-8 .u-text-1 {margin-top: 20px}
.u-section-8 .u-text-2 {margin-top: 0}
.u-section-8 .u-btn-1 {margin-top: 11px} }

@media (max-width: 575px){ .u-section-8 .u-sheet-1 {min-height: 192px}
.u-section-8 .u-text-1 {font-size: 1.25rem}
.u-section-8 .u-text-2 {font-size: 1.25rem}
.u-section-8 .u-btn-1 {margin-top: 8px} }.u-section-9 .u-sheet-1 {min-height: 650px}
.u-section-9 .u-layout-wrap-1 {width: 1109px; margin: 60px 0 60px auto}
.u-section-9 .u-layout-cell-1 {min-height: 562px}
.u-section-9 .u-container-layout-1 {padding: 30px 60px}
.u-section-9 .u-image-1 {height: 429px; margin: 24px auto 0 -60px}
.u-section-9 .u-layout-cell-2 {min-height: 562px}
.u-section-9 .u-container-layout-2 {padding: 30px 40px}
.u-section-9 .u-text-1 {font-size: 2.25rem; font-family: Lora; font-weight: 700; margin: 40px 0 0}
.u-section-9 .u-text-2 {text-transform: uppercase; line-height: 1.8; font-size: 1.25rem; font-weight: 300; font-family: Lora; margin: 31px 0 0}
.u-section-9 .u-btn-1 {background-image: none; font-size: 1.5rem; border-style: solid; font-weight: 700; font-family: lucida-grande; margin: 10px auto 0 0} 

@media (max-width: 1199px){ .u-section-9 .u-sheet-1 {min-height: 523px}
.u-section-9 .u-layout-wrap-1 {width: 940px}
.u-section-9 .u-layout-cell-1 {background-position: 50% 50%}
.u-section-9 .u-image-1 {height: 301px; margin-top: 0; margin-right: initial; margin-left: initial}
.u-section-9 .u-text-1 {font-size: 2.75rem}
.u-section-9 .u-btn-1 {margin-top: 19px} }

@media (max-width: 991px){ .u-section-9 .u-sheet-1 {min-height: 264px}
.u-section-9 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-9 .u-layout-cell-1 {min-height: 100px}
.u-section-9 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-9 .u-image-1 {height: NaNpx; margin-right: initial; margin-left: initial}
.u-section-9 .u-layout-cell-2 {min-height: 100px}
.u-section-9 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-9 .u-text-1 {font-size: 2.25rem; margin-top: 0}
.u-section-9 .u-text-2 {font-size: 1.125rem; margin-top: 10px}
.u-section-9 .u-btn-1 {margin-top: 18px} }

@media (max-width: 767px){ .u-section-9 .u-sheet-1 {min-height: 557px}
.u-section-9 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-text-2 {font-size: 1.25rem}
.u-section-9 .u-btn-1 {margin-top: 22px} }

@media (max-width: 575px){ .u-section-9 .u-sheet-1 {min-height: 1167px}
.u-section-9 .u-layout-wrap-1 {margin-top: 20px; width: auto; margin-right: initial; margin-left: initial} }.u-section-10 .u-sheet-1 {min-height: 396px}
.u-section-10 .u-text-1 {font-size: 1.25rem; font-style: italic; font-family: lora; font-weight: normal; margin: 27px 0 0}
.u-section-10 .u-text-2 {font-size: 1.5rem; font-family: lora; font-weight: normal; width: 556px; margin: 27px auto 0}
.u-section-10 .u-text-3 {font-size: 1.5rem; font-family: lora; font-weight: normal; width: 556px; margin: 11px auto 0}
.u-section-10 .u-text-4 {font-size: 1.5rem; font-family: lora; font-weight: normal; width: 556px; margin: 11px auto 0}
.u-section-10 .u-text-5 {font-size: 1.25rem; font-weight: 700; font-family: lora; margin: 27px 0 0}
.u-section-10 .u-text-6 {font-size: 1.25rem; font-family: lora; font-weight: normal; margin: 11px 0 40px} 

@media (max-width: 1199px){ .u-section-10 .u-sheet-1 {min-height: 421px}
.u-section-10 .u-text-1 {margin-top: 0}
.u-section-10 .u-text-6 {margin-bottom: 60px} }

@media (max-width: 991px){ .u-section-10 .u-sheet-1 {min-height: 420px}
.u-section-10 .u-text-6 {margin-bottom: 27px} }

@media (max-width: 767px){ .u-section-10 .u-sheet-1 {min-height: auto}
.u-section-10 .u-text-2 {width: 540px}
.u-section-10 .u-text-3 {width: 540px}
.u-section-10 .u-text-4 {width: 540px} }

@media (max-width: 575px){ .u-section-10 .u-sheet-1 {min-height: 580px}
.u-section-10 .u-text-2 {margin-left: 0; margin-right: 0; width: 340px}
.u-section-10 .u-text-3 {margin-left: 0; margin-right: 0; width: 340px}
.u-section-10 .u-text-4 {margin-left: 0; margin-right: 0; width: 340px} }.u-section-11 {background-image: none}
.u-section-11 .u-sheet-1 {min-height: 608px}
.u-section-11 .u-group-1 {min-height: 608px; background-image: none; margin: 0 auto 0 0}
.u-section-11 .u-container-layout-1 {padding: 30px}
.u-section-11 .u-image-1 {width: 158px; height: 509px; object-position: 0% 50%; background-position: 0% 50%; margin: 20px auto 0 24px}
.u-section-11 .u-line-1 {width: 143px; height: 3px; transform-origin: left center 0; margin: -317px 297px 0 auto}
.u-section-11 .u-image-2 {width: 158px; height: 509px; object-position: 0% 50%; background-position: 0% 50%; margin: -195px auto 0 149px}
.u-section-11 .u-text-1 {font-size: 1.5rem; font-weight: 700; font-family: lora; margin: -485px 45px 0 410px}
.u-section-11 .u-text-2 {font-size: 2.25rem; font-weight: 700; font-family: lora; margin: 27px 228px 0 593px}
.u-section-11 .u-text-3 {font-size: 3rem; font-weight: 700; font-family: lora; margin: 0 215px 0 580px}
.u-section-11 .u-text-4 {font-size: 1.25rem; font-family: lora; font-weight: normal; margin: 19px 135px 0 500px}
.u-section-11 .u-btn-1 {background-image: none; font-size: 1.5rem; border-style: solid; font-weight: 700; font-family: lucida-grande; margin: 28px 238px 0 auto} 

@media (max-width: 1199px){ .u-section-11 .u-sheet-1 {min-height: 691px}
.u-section-11 .u-group-1 {height: auto; margin-right: initial; margin-left: initial}
.u-section-11 .u-line-1 {width: 84px; margin-top: -351px; margin-right: 245px}
.u-section-11 .u-image-2 {margin-top: -161px; margin-left: 148px}
.u-section-11 .u-text-1 {width: auto; margin-top: -509px; margin-right: 0; margin-left: 306px}
.u-section-11 .u-text-2 {width: auto; margin-top: 17px; margin-right: 158px; margin-left: 464px}
.u-section-11 .u-text-3 {width: auto; margin-right: 145px; margin-left: 451px}
.u-section-11 .u-text-4 {width: auto; margin-top: 17px; margin-right: 64px; margin-left: 370px}
.u-section-11 .u-btn-1 {margin-top: 42px; margin-right: 157px} }

@media (max-width: 991px){ .u-section-11 .u-sheet-1 {min-height: 596px}
.u-section-11 .u-group-1 {min-height: 596px; margin-right: initial; margin-left: initial}
.u-section-11 .u-line-1 {margin-top: -344px; margin-right: 142px}
.u-section-11 .u-image-2 {margin-top: -168px; margin-left: 149px}
.u-section-11 .u-text-1 {margin-top: -525px; margin-left: 293px}
.u-section-11 .u-text-2 {margin-top: 3px; margin-right: 54px; margin-left: 347px}
.u-section-11 .u-text-3 {margin-top: -10px; margin-right: 37px; margin-left: 337px}
.u-section-11 .u-text-4 {margin-top: 14px; margin-right: 12px; margin-left: 305px}
.u-section-11 .u-btn-1 {margin-top: 24px; margin-right: 53px; padding: 3px 31px 3px 30px} }

@media (max-width: 767px){ .u-section-11 .u-sheet-1 {min-height: 1000px}
.u-section-11 .u-group-1 {min-height: 1172px; margin-top: 60px; margin-right: initial; margin-left: initial}
.u-section-11 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-11 .u-image-1 {margin-top: 174px; margin-left: 102px}
.u-section-11 .u-line-1 {margin-top: 199px; margin-right: auto}
.u-section-11 .u-image-2 {margin-top: -711px; margin-right: 102px; margin-left: auto}
.u-section-11 .u-text-1 {width: 367px; margin-top: -683px; margin-left: auto; margin-right: auto}
.u-section-11 .u-text-2 {width: 260px; margin-top: 703px; margin-left: auto; margin-right: auto}
.u-section-11 .u-text-3 {width: 286px; margin-top: 18px; margin-left: auto; margin-right: auto}
.u-section-11 .u-text-4 {width: 344px; margin-top: -301px; margin-left: 88px; margin-right: 88px}
.u-section-11 .u-btn-1 {margin-top: 202px; margin-right: auto} }

@media (max-width: 575px){ .u-section-11 .u-sheet-1 {min-height: 1127px}
.u-section-11 .u-group-1 {min-height: 1087px; margin-top: 0; margin-right: initial; margin-left: initial}
.u-section-11 .u-image-1 {width: 146px; height: 512px; margin-top: 184px; margin-right: 10px; margin-left: auto}
.u-section-11 .u-line-1 {margin-top: 208px}
.u-section-11 .u-image-2 {margin-top: -723px; margin-right: auto; margin-left: 10px}
.u-section-11 .u-text-1 {margin-top: -693px; margin-left: 0; margin-right: 0; width: 320px}
.u-section-11 .u-text-2 {margin-top: 725px; margin-left: 30px; margin-right: 30px}
.u-section-11 .u-text-3 {margin-top: 0; margin-left: 17px; margin-right: 17px}
.u-section-11 .u-text-4 {margin-top: -266px; margin-left: 0; margin-right: 0; width: 320px}
.u-section-11 .u-btn-1 {margin-top: 149px} }.u-section-12 .u-sheet-1 {min-height: 969px}
.u-section-12 .u-text-1 {font-size: 1.5rem; font-weight: 700; font-family: lora; margin: 43px 0 0}
.u-section-12 .u-custom-html-1 {min-height: 100px; margin: 38px 0 20px} 

@media (max-width: 1199px){ .u-section-12 .u-sheet-1 {min-height: 938px}
.u-section-12 .u-custom-html-1 {height: auto; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-12 .u-sheet-1 {min-height: 829px}
.u-section-12 .u-text-1 {margin-top: 46px; margin-left: 62px; margin-right: 62px}
.u-section-12 .u-custom-html-1 {margin-top: 35px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-12 .u-sheet-1 {min-height: 850px}
.u-section-12 .u-text-1 {margin-top: 30px; margin-left: 17px; margin-right: 17px}
.u-section-12 .u-custom-html-1 {margin-top: 30px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-12 .u-sheet-1 {min-height: 1000px}
.u-section-12 .u-text-1 {margin-top: 20px; margin-left: 0; margin-right: 0}
.u-section-12 .u-custom-html-1 {min-height: 115px; margin-top: 27px; margin-right: initial; margin-left: initial} }
        width=device-width, initial-scale=1.0